
  <mat-card class="character-card">
    <img mat-card-image src={{character.thumbnail.path}}.{{character.thumbnail.extension}} alt="{{character.name}}">
    
    <mat-card-title>
        {{character.name}}
    </mat-card-title>

    <mat-card-footer class="card-footer">
        <a href="{{character.urls[0].url}}" target="_blank" fxFlex mat-flat-button color="primary">Detalhes </a>
        <button *ngIf="!character.favorite else ElseBlock"  mat-raised-button color="accent" (click)="addToFavorites(character)">Favoritar</button>
        <ng-template #ElseBlock>
            <button  mat-raised-button color="accent" (click)="removeFromFavorites(character)">Desfavoritar</button>
        </ng-template>
    </mat-card-footer>

</mat-card>