
  <mat-card class="character-card">
    <img mat-card-image src={{character.thumbnail.path}}.{{character.thumbnail.extension}} alt="{{character.name}}">
    
    <mat-card-title>
        {{character.name}}
    </mat-card-title>

    <mat-card-footer class="card-footer">
        <a (click)="openCharacterDetails()" target="_blank" fxFlex mat-flat-button color="primary">Detalhes </a>
        <button class="ml8" *ngIf="!character.favorite  && favoritesSize < 5"  mat-raised-button color="accent" (click)="addToFavorites(character)">
            Favoritar&nbsp;<mat-icon>favorite_border</mat-icon></button>
        <button class="ml8" *ngIf="character.favorite" mat-raised-button color="accent" (click)="removeFromFavorites(character)">Desfavoritar</button>
    </mat-card-footer>
</mat-card>