
.search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.characters-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mv-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mv-toolbar img {
  width: 100px;
}