<mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
    </mat-drawer>
  
        <mat-toolbar class="mv-toolbar">
           <img src="./../../assets/img/marvel-logo.png" alt="marvel-logo.png">
         </mat-toolbar>

      <br>
   
      <div class="search">
        <form>
      
        <mat-form-field class="example-full-width">
          <mat-label>Buscar</mat-label>
          <input matInput placeholder="Ex. Spiderman" name="search"[(ngModel)]="search">
        </mat-form-field></form>
    
        <button class="ml8" mat-raised-button color="accent" 
        (click)="searchCharacters()" [disabled]="!search"
        >Buscar</button>
        
        <button class="ml8" mat-raised-button color="accent" (click)="showOnlyFavorites()">Mostrar Meus Favoritos</button>
        
        <div class="ml8">
          <mat-form-field appearance="fill">
            <mat-label>Ordenar por</mat-label>
            <select [(ngModel)]="oderBy" matNativeControl>
              <option value="name" selected>nome crescente</option>
              <option value="-name">nome decrescente</option>
              <option value="modified">data de modificação crescente</option>
              <option value="-modified">data de modificação decrescente</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      
      <br>
      <br>

      <div class="characters-content">
            <app-character
            *ngFor="let character  of allCharactersFiltered" [character]="character"
            (modifiedFavorites)="searchCharacters()"
            ></app-character>
      </div> 
</mat-drawer-container>
  